<h1 class="column-header">New Relic Statistics<br><span>Centralized or Critical</span></h1>
<hr>
<% if !@new_relic_data[:error_status] %>
  <% @new_relic_data[:data].each do |app| %>
    <% if app %>
      <% status = app["health_status"] %>
      <%= link_to "https://rpm.newrelic.com/accounts/5591/applications/#{app["id"]}", target: 'blank', class: "grid-item #{status}" do %>
        <%= content_tag :h1, app["name"] %>
        <div class="stats">
          <%= content_tag :li, "#{app["response_time"]} ms<span>Response Time</span>".html_safe %>
          <%= content_tag :li, "#{app["apdex_score"]}<span>Apdex</span>".html_safe %>
          <%= content_tag :li, "#{app["error_rate"]}%<span>Error Rate</span>".html_safe %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= @new_relic_data[:error_message] %>
<% end %>
