<div class="grid-items-lines right-column">
  <h1 class="column-header">Pager Duty<br><span>Goat and Open Incidents</span></h1>
  <hr>
  <section class='grid-item'>
    <%= render 'goat_duty' %>
  </section>
  <div id="incident-wrapper">
    <h2>Active and Resolved Incidents</h2>
    <%= image_tag("ajax_loader.gif", class: 'loader') %>
    <%= content_tag :section, class: 'grid-item incident-wrapper', id: 'incidents', data: {url: '/performance_dashboard.json'} do %>
      <% if !@incidents[:status_message] %>
      <% logger.info "**************************#{@incidents}***************************************" %>
        <%= render 'incidents' %>
      <% else %>
      <% logger.info "**************************#{@incidents} in else ***************************************" %>
        <%= content_tag :p, @incidents[:status_message] %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="grid-items-lines middle-column">
  <%= render 'new_relic_data' %>
</div>

<div class="grid-items-lines left-column">
  <% orgs = Organization.all %>
  <% app_cost_array = Organization.sort_cost_descending(orgs).take(5) %>
  <%= render 'org_cost_table', app_cost_array: app_cost_array %>
  <hr>

  <h1 class="column-header">G5 Ops Health<br><span>Unhealthy Applications Total: <%= @unhealthy_apps[:unhealthy_apps_count] %></span></h1>
  <ul class="accordion">
    <%= wrangle_unhealthy_apps(@unhealthy_apps).html_safe %>
  </ul>
</div>

<%= link_to "Home", root_path, class: 'btn' %>
