<div class="grid-items-lines right-column">
  <h1 class="column-header">Pager Duty<br><span>Goat and Open Incidents</span></h1>
  <hr>
  <section class='grid-item'>
    <%= render 'goat_duty' %>
  </section>
  <%= content_tag :section, class: 'grid-item', id: 'incidents', data: {url: '/performance_dashboard.js'} do %>
    <h2>Active and Resolved Incidents</h2>
    <% if !@incidents[:error_status] %>
      <%= render 'incidents' %>
    <% else %>
      <%= content_tag :p, @incidents[:error_message] %>
    <% end %>
  <% end %>
</div>

<div class="grid-items-lines middle-column">
  <%= render 'new_relic_data' %>
</div>

<div class="grid-items-lines left-column">
  <% orgs = Organization.all %>
  <% app_cost_array = Organization.sort_cost_descending(orgs).take(5) %>
  <%= render 'org_cost_table', app_cost_array: app_cost_array %>
  <hr>

  <h1 class="column-header">G5 Ops Health<br><span>Unhealthy Applications Total: <%= @unhealthy_apps[:unhealthy_apps_count] %></span></h1>
  <ul class="accordion">
    <%= wrangle_unhealthy_apps(@unhealthy_apps).html_safe %>
  </ul>
</div>

<%= link_to "Home", root_path, class: 'btn' %>
