<div class="grid-items-lines right-column">
  <h1 class="column-header">Pager Duty<br><span>Goat and Open Incidents</span></h1>
  <hr>
  <section class='grid-item'>
    <div class="stats">
      <% unless @goat == @no_data_message %>
        <% @goat.each do |goat| %>
          <% unless goat["level"] > 2 %>
            <%= content_tag :li, "#{goat["user"]}<span>Level #{goat["level"]}</span>".html_safe %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
  <section class='grid-item'>
      <div class='comment alert'>
        <div class='comment-content'>
          <%= content_tag :h1, "Incident 1" %>
          <%= content_tag :p, "Test App Incident Trigger Summary" %>
          <%= content_tag :p, "2012-09-11T22:49:21Z", class: 'comment-detail' %>
        </div>
      </div>
    <% unless !@incidents.present? || @incidents == @no_data_message %>
      <% @incidents.each do |inci| %>
        <div class='comment-content'>
          <%= content_tag :h1, "Incident #{inci["incident_number"]}" %>
          <%= content_tag :p, inci["description"] %>
          <%= content_tag :p, inci["created_at"], class: 'comment-detail' %>
        </div>
      <% end %>
    <% else %>
      <h1>Incidents</h1>
      <p id='no-incidents'>There are no incidents at this time.</p>
    <% end %>
  </section>
</div>

<div class="grid-items-lines middle-column">
  <h1 class="column-header">New Relic Statistics<br><span>Centralized or Critical</span></h1>
  <hr>
  <% unless @new_relic_data == @no_data_message %>
    <% @new_relic_data.each do |app| %>
      <% if app %>
        <% status = new_relic_app_status(app["health_status"]) %>
        <%= link_to "https://rpm.newrelic.com/accounts/5591/applications/#{app["id"]}", target: 'blank', class: "grid-item #{status}" do %>
          <%= content_tag :h1, app["name"] %>
          <div class="stats">
            <%= content_tag :li, "#{app["response_time"]} ms<span>Response Time</span>".html_safe %>
            <%= content_tag :li, "#{app["apdex_score"]}<span>Apdex</span>".html_safe %>
            <%= content_tag :li, "#{app["error_rate"]}%<span>Error Rate</span>".html_safe %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="grid-items-lines left-column">
  <h1 class="column-header">Top Five<br></h1>
    <% orgs = Organization.all %>
    <% app_cost_array = top_five_most_costly_apps(orgs) %>
    <table class="table-minimal">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <% app_cost_array.each do |app| %>
          <tr>
            <td><%= app[0] %></td>
            <td><%= "$#{app[1]}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <hr>
  <h1 class="column-header">G5 Ops Health<br><span>Unhealthy Applications Total: <%= @unhealthy_app_count %></span></h1>
  <ul class="accordion">
    <%= wrangle_unhealthy_apps(@unhealthy_apps).html_safe %>
  </ul>
</div>
