<h1>Heroku Apps By Owner</h1>

<p>These are all the Heroku apps that the la.team@getg5.com account owns and/or has access to, regardless of whether they were spun up by the client app creator, are clone of some other app, or a stand alone app.</p>

<p><%= link_to "Group by app type", apps_path %></p>

<p><%= @app_count %> apps, in <%= @org_count %> different organizations.</p>

<% @data.each do |group| %>
  <h3><%= group[0] %></h3>
  <ul>
    <% group[1].each do |app| %>
      <li><%= link_to app['name'], app_path(app['name']) %></li>
    <% end %>
  </ul>
  <hr />
<% end %>

