<div class="app orgs">
  <%= render 'shared/wrangler_header', grouped: "Owner", group_by: "type", view_link: apps_path %>
  <%= AppVersions.master_version_inputs %>
  <div class="app-group">
    <% @organizations.each do |o| %>
      <% if o.apps.present? %>
        <%= content_tag :h3, class: "app-title", id: o.name do %>
          <span class="app-name"><%= o.name %></span>
          <span><%= "Group App Count: <span class='counter'>#{o.apps.length}</span>".html_safe %> | </span>
            <span><%= "Average dynos per app: <span class='counter'>#{average_dynos_per_app(o.apps)}</span>".html_safe %> | </span>
        <% end %>
        <ul class="app-list">
          <% o.apps.each do |app| %>
            <% type = app.type %>
            <%= render 'shared/app_row', app: app, type: type, show_master: true %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
