<div class="app">
  <div class="app-card">
    <h1>Heroku Apps By Owner</h1>
    <p class="app-count"><%= @app_count %> apps, in <%= @org_count %> different organizations.</p>
    <p class="app-btn"><%= link_to "Group by app type", apps_path, class: 'btn' %></p>
    <p class="app-count">Current API requests remaining: <%= @rate_limit %> out of 2400 at <%= @time %></p>
  </div>
  <div class="app-group">
  <% @data.each do |group| %>
    <h3 class="app-title"><%= group[0] %></h3>
    <ul>
      <% group[1].each do |app| %>
        <li><%= link_to app['name'], app_path(app['name']) %></li>
      <% end %>
    </ul>
    <hr />
  <% end %>
  </div>
</div>
