<% show_master = false if local_assigns[:show_master].nil? %>
<li class=<%= 'app-dyno-alert' if (dyno_count(app.dynos) > 3 || free_dynos?(app.dynos)) %>>
  <span class="app-name">
    <%= link_to app.name, app_path(app)  %>
  </span>
  <%= link_to "Dashboard |", "https://dashboard.heroku.com/apps/#{app.name}/", target: "blank" %>
  <%= link_to "App", "https://#{app.name}.herokuapp.com", target: "blank" %>
  <%= link_to "https://dashboard.heroku.com/apps/#{app.name}/resources" do %>
    <div class="dynos">
      <span>Services: </span>
      <section>
        <% if app.dynos.present? %>
          <% app.dynos.each do |dyno| %>
            <% if dyno_has_metadata?(dyno) %>
              <span class="dyno-info" id="<%= dyno_info_id(dyno) %>">
                <%= dyno["quantity"] %>
              </span>
              <span class="dyno-info">
                <%= dyno["type"].pluralize(dyno["quantity"]) %> 
                @
              </span>
              <span class="dyno-info"><%= dyno['size'] %></span>
              <br/>
            <% end %>
          <% end %>
        <% end %>

        <% app.database_plans.each do |plan| %>
          <span class="dyno-info" id="<%= db_plan_id(plan) %>">
            <i class='fa fa-database'></i>
            <%= plan %>
            <br/>
          </span>
        <% end %>

        <% if app.has_ssl_addon? %>
          <span class="dyno-info" id="alert-flag">
            <i class='fa fa-lock'></i>
            SSL Addon
          </span>
        <% end %>
      </section>
    </div>
  <% end %>

  <% if AppVersions.is_versioned?(type) %>
    <% mv = get_mv(type) %>
    <span class="version">
      <span class="version-value">
        ...
      </span>
      <% if show_master && mv %>
        (<span class='master-value'><%= "#{mv}" %></span>)
      <% end %>
    </span>
  <% end %>
</li>
