<div class="app"> 
  <div class="app-card">
    <h1>Heroku Apps By Type</h1>
    <p class="app-count"><%= @app_count %> apps:</p>
    <p class="app-btn"><%= link_to "Group by owner", orgs_path, class: 'btn' %></p>
    <p class="app-count">API requests remaining at <%= @time %>: <%= @rate_limit %> out of 2400</p>
  </div>

  <div class="app-group">
    <%= render_app_groups(make_app_array) %>
  </div>
</div>