<div class="app"> 
  <div class="app-card">
    <h1>Heroku Apps By Type</h1>
    <p class="app-count"><%= @app_count %> Apps</p>
    <p class="app-btn"><%= link_to "Group by owner", orgs_path, class: 'btn' %></p>
    <p class="app-count">API requests remaining at <%= @time %>: <span class="rate-limit"><%= @rate_limit %> out of 2400</span></p>
  </div>

  <div class="app-group">
    <% grouped_apps = get_app_groups(@app_list) %>
    <% grouped_apps.each do |type, apps| %>
      <%= content_tag :h3, class: "app-title", id: type.downcase do %>
        <span class="app-name"><%= type %></span>
        <i><%= apps.count %></i>
        <span class='version'>Master: 
          <span class="version-value">
            <%= get_master_version(type) %>
          </span>
        </span>
        <a href='#' class='version-refresh'><%= image_tag('reload.png', class: 'version-refresh-icon', alt: 'Refresh Versions') %></a>
      <% end %>
      <ul class="app-list">
        <% apps.each do |app| %>
          <li>
            <span class="app-name">
              <%= link_to app.app_name, app_path(app)  %>
            </span>
            <%= link_to "Dashboard", "https://dashboard.heroku.com/apps/#{app.app_name}/" %>
            <%= link_to "App", "https://#{app.app_name}.herokuapp.com" %>
            <span class="version">
              <span class="version-value">
                ...
              </span>
            </span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>