<%= search_form_for @q do |f| %>

  # Search if the name field contains...
  <%= f.label :name %>
  <%= f.search_field :name_cont %>

  <%= f.label :organization, "Organization Name" %>
  <%= f.search_field :organization_name_cont %>

  <%= f.submit %>
<% end %>

<div class="app"> 
  <%= render 'shared/wrangler_header', grouped: "Type", group_by: "owner", view_link: orgs_path %>
  <div class="app-group">
    <table border="1" width="100%">
      <thead>
        <tr BGCOLOR="#8b9dc3">
          <td><%= sort_link(@q, :name, "Applications") %></td>
          <td><%= sort_link(@q, :organization_name, "Organization") %></td>
          <td><%= sort_link(@q, :backup_transfer_success, "Backed Up") %></td>
          <td>Backup Schedule</td>
          <td>Run Date</td>
        </tr>
      </thead>
      <tbody>
        <% if @apps.empty? %>
          <tr><td colspan=5>No results</td></tr>
        <% end %>
        <% @apps.each do |app| %>
          <tr>
            <td><strong><%= app.name %></strong></td>
            <td><%= app.organization.name %></td>
            <td><%= app.backup_transfer_success %></td>
            <td><%= app.backup_schedule %></td>
            <td><%= app.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b %e, %l:%M %p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
