<div class="app"> 
  <%= render 'shared/wrangler_header', object: {grouped: "Type", group_by: "owner", view_link: orgs_path} %>
  <div class="app-group">
    <% grouped_apps = get_app_groups(@app_list) %>
    <% grouped_apps.each do |type, apps| %>
      <% unless apps.blank? %>
        <%= content_tag :h3, class: "app-title", id: type.downcase do %>
          <span class="app-name"><%= type %></span>
          <span><%= "Group App Count: <span class='counter'>#{apps.count}</span>".html_safe %> | </span>
          <span><%= "Average dynos per app: <span class='counter'>#{average_dynos_per_app(apps)}</span>".html_safe %> | </span>
          <% if versioned_apps.has_key? type.downcase.parameterize %>
            <span class='version'>Master: 
              <span class="version-value">
                <%= get_mv(type) %>
              </span>
            </span>
            <a href='#' class='version-refresh'><%= image_tag('reload.png', class: 'version-refresh-icon', alt: 'Refresh Versions') %></a>
          <% end %>
        <% end %>
        <ul class="app-list">
          <% apps.each do |app| %>
            <li class=<%= 'app-dyno-alert' if (dyno_count(app.dynos) > 3 || free_dynos?(app.dynos)) %>>
              <span class="app-name">
                <%= link_to app.name, app_path(app)  %>
              </span>
              <%= link_to "Dashboard |", "https://dashboard.heroku.com/apps/#{app.name}/", target: "blank" %>
              <%= link_to "App", "https://#{app.name}.herokuapp.com", target: "blank" %>
              <%= link_to "https://dashboard.heroku.com/apps/#{app.name}/resources" do %>
              <div class="dynos">
                <span>Dynos: </span>
                <section>
                  <% if app.dynos.present? %>
                    <% app.dynos.each do |dyno| %>
                      <% if dyno.class == Hash && dyno["quantity"] >= 1 %>
                        <%= content_tag :span, "#{dyno['quantity']}", class: "dyno-info", id: ("alert-flag" if dyno["quantity"] >= 3) %>
                        <%= content_tag :span, class: "dyno-info" do %>
                          <%= dyno["quantity"] > 1 ? "#{dyno['type']}s @" : "#{dyno['type']} @" %>
                        <% end %>
                        <%= content_tag :span, "#{dyno['size']}", class: "dyno-info" %><br>
                      <% end %>
                    <% end %>
                  <% end %>
                </section>
                <% end %>
              </div>
              <% if versioned_apps.has_key? type.downcase.parameterize %>
                <span class="version">
                  <span class="version-value">
                    ...
                  </span>
                </span>
              <% end %>
            </li>
            <hr>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
