<div class="app">
  <h1>App Name: <%= @app_name %></h1>
  <p><strong>Last Upated:</strong> <%= @updated_at.to_time.in_time_zone("Pacific Time (US & Canada)") %></p>
  <p>Current API requests remaining: <%= @rate_limit %> out of 2400 </p>
  <h3 class="app-title">URL's:</h3>
  <p><%= link_to "<strong>App URL: </strong>#{@app_url}".html_safe, @app_url, target: 'blank' %></a></p>
  <p><%= link_to "<strong>Git URL: </strong>#{@app_git_url}".html_safe, @app_git_url, target: 'blank' %></p>
  </ul>
  <h3 class="app-title">Dynos:</h3>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Dyno Type</th>
        <th>Quantity</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
    <% if @dynos.any? %>
      <% @dynos.each do |dyno| %>
        <tr>
          <td><%= dyno["type"] %></td>
          <td><%= dyno["quantity"] %></td>
          <td><%= dyno["size"] %></td>
        </tr>
      <% end %>
    <% else %>
    <h2>This app isn't showing any dynos.</h2>
    <% end %>
    </tbody>
  </table>
  <hr />

  <h3 class="app-title">Addons</h3>
  <ul>
  <% if @addons.any? %>
    <% @addons.each do |addon| %>
      <li><%= addon["plan"]["name"] %></li>
    <% end %>
  <% else %>
    <h2>This app does not have any addons.</h2> 
  <% end %>
  </ul>

  <hr />

  <h3 class="app-title">Config Vars</h3>
  <p>This is not a complete list. Some config vars are hidden for security or because nobody usually cares about them.</p>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Variable</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% if @config_vars.any? %>
        <% @config_vars.sort.map do |key, val| %>
          <% unless exclude_config_var(key) %>
            <tr>
              <td><%= key %></td>
              <td><%= val %></td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <h2>This app doesn't have any config variables set up.</h2>
      <% end %>
    </tbody>
  </table>

  <% if @domains %>
    <hr />

    <%= "<h3 class='app-title'>Domains</h3>".html_safe unless domain["hostname"] =~ /-clw-|.g5dns.|.herokuapp.com/ %>
    <ul>
    <% @domains.each do |domain| %>
      <% unless domain["hostname"] =~ /-clw-|.g5dns.|.herokuapp.com/ %>
        <li><%= link_to domain["hostname"], "http://#{domain["hostname"]}", target: "_blank" %></li>
      <% end %> 
    <% end %>
    </ul>
  <% end %>
</div>

<p><%= link_to "Done", "/", class: "btn" %></p>
