<div class="app">
  <h1><%= @app_name %></h1>
  <p>Current API requests remaining: <%= @rate_limit %> out of 2400 </p>
  <p><a href="<%= @app_url %>"><%= @app_url %></a></p>
  <p><%= @app_git_url %></p>
  <p><strong>Last Upated:</strong> <%= @updated_at.to_time.in_time_zone("Pacific Time (US & Canada)") %></p>
  <h3 class="app-title">Dynos</h3>
  <ul>
  <% @dynos.each do |dyno| %>
    <li><strong><%= dyno["type"] %></strong>: <%= dyno["quantity"] %> @ <%= dyno["size"] %></li> 
  <% end %>
  </ul>

  <hr />

  <h3 class="app-title">Addons</h3>
  <ul>
  <% @addons.each do |addon| %>
    <li><%= addon["name"] %></li> 
  <% end %>
  </ul>

  <hr />

  <h3 class="app-title">Config Vars</h3>
  <p>This is not a complete list. Some config vars are hidden for security or because nobody usually cares about them.</p>
  <ul>
    <% @config_vars.sort.map do |key, val| %>
      <% unless exclude_config_var(key) %>
        <li><strong><%= key %> = </strong> <%= val %></li>
      <% end %>
    <% end %>
  </ul>

  <% if @domains %>
    <hr />

    <h3 class="app-title">Domains</h3>
    <ul>
    <% @domains.each do |domain| %>
      <% unless domain["hostname"] =~ /-clw-|.g5dns.|.herokuapp.com/ %>
        <li><%= link_to domain["hostname"], "http://#{domain["hostname"]}", target: "_blank" %></li>
      <% end %> 
    <% end %>
    </ul>
  <% end %>
</div>

<p><%= link_to "Done", "/", class: "btn" %></p>
