<!DOCTYPE html>
<html>
<head>
  <title>G5AppManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% content_for :wrangle_description do %>

<% end -%>
  <div class="container">
    <header class="header">
      <span class="logo"><a href="/"><%= image_tag("database.png", class: "wrangle-logo", alt: "G5 Heroku Database Backups to S3") %></a></span>
      <div class="wrangler-about">
        <div class="wrangle">
          <p class="wrangle-description">This application backs up all the current G5 heroku apps on la.team to an AWS S3 bucket. The bucket is located in the chris.eckert account as g5-orion-db-backups</p>
        </div>
      </div>
    </header>
    <hr>
    <%= yield %>
  </div>
</body>
</html>
